/********************

Author: Daniel Repko

*********************

Table of Contents

...... Body
...... Blockquote
_____________________

********************/


/**************************************** Body */

body{
	font-family: Trebuchet MS;
	color: #82BD16;
	background-color: #263541;
}


/**************************************** Blockquote */

blockquote{
	color: #6E932B;
}


/**************************************** Images */

img{
	border-radius: 15px;
	box-shadow: 5px 5px #1d2830;/*#1d2830;*/
}